# XDG directories
set -x XDG_CONFIG_HOME "$HOME/.config"
{% if ansible_system == 'Darwin' %}
set -x XDG_CACHE_HOME "/Library/Caches"
{% elif ansible_system == 'Linux' %}
set -x XDG_CACHE_HOME "$HOME/.cache"
{% endif %}
set -x XDG_DATA_HOME "$HOME/.local/share"

# No fish greeting message
set -e fish_greeting

if test -e "$XDG_CONFIG_HOME/localrc" 
  source "$XDG_CONFIG_HOME/localrc" 
end 

# load files sourced by dotstrap 
if test -e "$XDG_CONFIG_HOME/dotstrap/config.fish"
  source "$XDG_CONFIG_HOME/dotstrap/config.fish"
end 
